<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xml:lang="zh" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>模板：燃尽图</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="burndown_chart">
<meta name="uma.presentationName" content="燃尽图">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_OO6A0F8rEd22Gu98eFOlrQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">模板：燃尽图</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">可以使用下面这些Excel表格创建燃尽图（Burndown Chart）</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">关系</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">相关元素</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../Scrum/workproducts/product_backlog_68345C16.html" guid="_OZIPIOF8Edyp34pwdTOSVQ">产品订单</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/sprint_backlog_7A5B8A37.html" guid="_Q5Ki8OF8Edyp34pwdTOSVQ">冲刺订单</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/sprint_burndown_chart_F647C347.html" guid="_YzmSIF8sEd22Gu98eFOlrQ">冲刺燃尽图</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/release_burndown_chart_7E6A4A45.html" guid="_tFw9IPVoEdyJbYuqG3X5Ag">发布燃尽图</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">主要描述</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    如果你正在考虑使用电子表格来跟踪你的项目订单和燃尽图，可以使用下面由Clay Ver Valen和Petri
    Heiramo提供的两个模板。这两个模板都很优秀，相信一定有一个适合你的项目。Petri的模板使用Excel宏提供了更丰富的功能,但对某些人来说可能是一个障碍。Petris的模板中提供了样例数据，而Clay的模板中也提供了自己的样例数据。
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">描述</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">附加的文件</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Sample_Clay.xls" target="_blank">Burndown_Sample_Clay.xls</a>
</li>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Template_Clay.xls" target="_blank">Burndown_Template_Clay.xls</a>
</li>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Template_Petri.xls" target="_blank">Burndown_Template_Petri.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    This program and the accompanying materials are made available under the<br />
    <a href="http://www.eclipse.org/org/documents/epl-v10.php" target="_blank">Eclipse Public License v1.0</a> which
    accompanies this distribution.
</p>
<p>
    Copyright &copy; 1998--2008 Mountain Goat Software. All rights reserved.<br />
    Copyright &copy; 2008 ATSC. All rights reserved.<br />
    Copyright &copy; 2013 <a href="http://fasiondog.github.io/epf_CN/" target="_blank">Chinese-epf.</a> All rights reserved.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
